version: '3.8'
services:
  consul_server_0:
    image: consul:1.10.4
    container_name: consul_server_0
    command: ["consul", "agent", "-config-dir=/config"]
    volumes:
    - "./consul_config/server_config_0.hcl:/config/config.hcl"
    - ./certificates/:/consul/config/certs/
    ports:
      - "8500:8500"
      - "8600:8600/tcp"
      - "8600:8600/udp"
    networks:
      consul:
        ipv4_address: 10.5.0.2
    labels: 
      type: server
      location: primary

  consul_server_1:
    image: consul:1.10.4
    container_name: consul_server_1
    command: ["consul", "agent", "-config-dir=/config"]
    volumes:
    - "./consul_config/server_config_1.hcl:/config/config.hcl"
    - ./certificates/:/consul/config/certs/
    networks:
      consul:
        ipv4_address: 10.5.0.3
    labels: 
      type: server
      location: primary


  consul_server_2:
    image: consul:1.10.4
    container_name: consul_server_2
    command: ["consul", "agent", "-config-dir=/config"]
    volumes:
    - "./consul_config/server_config_2.hcl:/config/config.hcl"
    - ./certificates/:/consul/config/certs/
    networks:
      consul:
        ipv4_address: 10.5.0.4
    labels: 
      type: server
      location: primary


  frontend:
    image: 'frontend'
    container_name: 'frontend'
    command: ["./bin/install.sh"]
    links:
      - 'public-api:public-api'
    volumes:
      - type: bind
        source: ./nginx.conf
        target: /etc/nginx/conf.d/default.conf
      - "./install.sh:/bin/install.sh" 
      - "./consul_config/frontend_config.hcl:/config/frontend_config.hcl"
      - "./client_config/svc_frontend.hcl:/tmp/svc_frontend.hcl"
      - "./resolvers_config/frontend.hcl:/tmp/frontend.hcl"
      - ./certificates/:/consul/config/certs/
    ports:
      - '80:80'
    environment:
      - SERVICE=frontend
      - CONSUL_HTTP_ADDR=http://127.0.0.1:8500
      - CONSUL_HTTP_TOKEN=20d16fb2-9bd6-d238-bfdc-1fab80177667 
      - SECONDARY=false
    depends_on:
      - "consul_server_0"
      - "consul_server_1"
      - "consul_server_2"
    networks:
      consul:
        ipv4_address: 10.5.0.5
    labels: 
      type: "client"
      application: "frontend"
      location: primary


  public-api:
    image: 'public-api'
    container_name: public-api
    links:
      - 'product-api:product-api'
      - 'payments:payments'
    command: ["./bin/install.sh"]
    volumes:
      - "./consul_config/public_api_config.hcl:/config/public_api_config.hcl"
      - "./client_config/svc_public_api.hcl:/config/svc_public_api.hcl"
      - "./intentions/default-intentions.hcl:/tmp/default-intentions.hcl"
      - "./install.sh:/bin/install.sh"
      ## Commented out for Chaos Engineering lab
      # - "./resolvers_config/public-api.hcl:/tmp/public-api.hcl"
      - ./certificates/:/consul/config/certs/
      - ./intentions/public-api.hcl:/tmp/intention.hcl
    environment:
      - SERVICE=public-api
      - CONSUL_HTTP_ADDR=http://127.0.0.1:8500
      - CONSUL_HTTP_TOKEN=20d16fb2-9bd6-d238-bfdc-1fab80177667 
      - PRODUCT_API_URI=http://localhost:9090
      - PAYMENT_API_URI=http://localhost:1800
      - SECONDARY=false
    ports:
      - '8080:8080'
    depends_on:
      - "consul_server_0"
      - "consul_server_1"
      - "consul_server_2"
    networks:
      consul:
        ipv4_address: 10.5.0.6
    labels: 
      type: "client"
      application: "backend"
      location: primary

  product-api:
    image: 'product-api'
    container_name: product-api
    command: ["./bin/install.sh"]
    volumes:
      - type: bind
        source: ./conf.json
        target: /conf.json
      - "./consul_config/product_api_config.hcl:/config/product_api_config.hcl"
      - "./client_config/svc_product_api.hcl:/config/svc_product_api.hcl"
      - "./resolvers_config/product-api.hcl:/tmp/product-api.hcl"
      - "./install.sh:/bin/install.sh"
      - ./certificates/:/consul/config/certs/
      - ./intentions/product-api.hcl:/tmp/intention.hcl
    links:
      - 'product-db:product-db'
    ports:
      - '9090:9090'
    environment:
      - SERVICE=product-api
      - SECONDARY=false
      - CONSUL_HTTP_ADDR=http://127.0.0.1:8500
      - CONSUL_HTTP_TOKEN=20d16fb2-9bd6-d238-bfdc-1fab80177667 
    networks:
      consul:
        ipv4_address: 10.5.0.7
    depends_on:
      - "product-db"
      - "consul_server_0"
      - "consul_server_1"
      - "consul_server_2"
    labels: 
      type: "client"
      application: "backend"
      location: primary

  product-db:
    image: product-db
    container_name: product-db
    ports:
      - '5432:5432'
    volumes:
      - "./consul_config/product_api_db_config.hcl:/config/product_api_db_config.hcl"
      - "./client_config/svc_db.hcl:/tmp/svc_db.hcl"
      - "/var/lib/postgresql/data"
      - "./install.sh:/docker-entrypoint-initdb.d/install.sh"
      - "./resolvers_config/product-db.hcl:/tmp/product-db.hcl"
      - ./certificates/:/consul/config/certs/
      - ./intentions/product-db.hcl:/tmp/intention.hcl
    environment:
      - POSTGRES_DB=products
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=postgres
      - SERVICE=product-db
      - SECONDARY=false
      - CONSUL_HTTP_ADDR=http://127.0.0.1:8500
      - CONSUL_HTTP_TOKEN=20d16fb2-9bd6-d238-bfdc-1fab80177667 
    depends_on:
      - "consul_server_0"
      - "consul_server_1"
      - "consul_server_2"
    networks:
      consul:
        ipv4_address: 10.5.0.8
    labels: 
      type: "client"
      application: "backend"
      location: primary

  payments:
    image: 'payments'
    container_name: payments
    command: ["./bin/install.sh"]
    volumes:
      - "./consul_config/payment_config.hcl:/config/payment_config.hcl"
      - "./client_config/svc_payments.hcl:/tmp/svc_payments.hcl"
      - "./resolvers_config/payments.hcl:/tmp/payments.hcl"
      - "./install.sh:/bin/install.sh"
      - "./certificates/:/consul/config/certs/"
      - "./intentions/payments.hcl:/tmp/intention.hcl"
    environment:
      - SERVICE=payments
      - CONSUL_HTTP_ADDR=http://127.0.0.1:8500
      - CONSUL_HTTP_TOKEN=20d16fb2-9bd6-d238-bfdc-1fab80177667 
      - SECONDARY=false
    depends_on:
      - "consul_server_0"
      - "consul_server_1"
      - "consul_server_2"
    networks:
      consul:
        ipv4_address: 10.5.0.9
    labels: 
      type: "client"
      application: "backend"
      location: primary

  consul_secondary_server_0:
    image: consul:1.10.4
    container_name: consul_secondary_server_0
    command: ["consul", "agent", "-config-file=/config/config.hcl", "-config-dir=/config"]
    volumes:
    - "./consul_config/server_secondary_config_0.hcl:/config/config.hcl"
    - ./certificates/:/consul/config/certs/
    networks:
      consul:
        ipv4_address: 10.5.1.2
    labels: 
      type: server
      location: secondary

  consul_secondary_server_1:
    image: consul:1.10.4
    container_name: consul_secondary_server_1
    command: ["consul", "agent", "-config-file=/config/config.hcl", "-config-dir=/config"]
    volumes:
    - "./consul_config/server_secondary_config_1.hcl:/config/config.hcl"
    - ./certificates/:/consul/config/certs/
    networks:
      consul:
        ipv4_address: 10.5.1.3
    labels: 
      type: server
      location: secondary

  consul_secondary_server_2:
    image: consul:1.10.4
    container_name: consul_secondary_server_2
    command: ["consul", "agent", "-config-file=/config/config.hcl", "-config-dir=/config"]
    volumes:
    - "./consul_config/server_secondary_config_2.hcl:/config/config.hcl"
    - ./certificates/:/consul/config/certs/
    networks:
      consul:
        ipv4_address: 10.5.1.4
    labels: 
      type: server
      location: secondary

  frontend-secondary:
    image: 'frontend'
    container_name: 'frontend-secondary'
    command: ["./bin/install.sh"]
    volumes:
      - type: bind
        source: ./nginx.conf
        target: /etc/nginx/conf.d/default.conf
      - "./install.sh:/bin/install.sh" 
      - "./consul_config/frontend_config_secondary.hcl:/config/frontend_config.hcl"
      - "./client_config/svc_frontend_secondary.hcl:/tmp/svc_frontend_secondary.hcl"
      - "./resolvers_config/frontend.hcl:/tmp/frontend.hcl"
      - ./certificates/:/consul/config/certs/
    ports:
      - '3000:80'
    environment:
      - SERVICE=frontend
      - CONSUL_HTTP_ADDR=http://127.0.0.1:8500
      - CONSUL_HTTP_TOKEN=20d16fb2-9bd6-d238-bfdc-1fab80177667
      - SECONDARY=true
    depends_on:
      - "consul_secondary_server_0"
      - "consul_secondary_server_1"
      - "consul_secondary_server_2"
      - "consul_server_0"
      - "consul_server_1"
      - "consul_server_2"

    networks:
      consul:
        ipv4_address: 10.5.1.5
    labels: 
      type: "client"
      application: "frontend"
      location: secondary

  public-api-secondary:
    image: 'public-api'
    container_name: public-api-secondary
    command: ["./bin/install.sh"]
    volumes:
      - "./consul_config/public_api_config_secondary.hcl:/config/public_api_config.hcl"
      - "./client_config/svc_public_api_secondary.hcl:/config/svc_public_api.hcl"
      - "./intentions/default-intentions.hcl:/tmp/default-intentions.hcl"
      - "./install.sh:/bin/install.sh"
      ## Commented out due to Chaos Engineering lab
      # - "./resolvers_config/public-api.hcl:/tmp/public-api.hcl"
      - ./certificates/:/consul/config/certs/
      - ./intentions/public-api.hcl:/tmp/intention.hcl
    environment:
      - SERVICE=public-api
      - CONSUL_HTTP_ADDR=http://127.0.0.1:8500
      - CONSUL_HTTP_TOKEN=20d16fb2-9bd6-d238-bfdc-1fab80177667
      - PRODUCT_API_URI=http://localhost:9090
      - PAYMENT_API_URI=http://localhost:1800
      - SECONDARY=true
    depends_on:
      - "consul_secondary_server_0"
      - "consul_secondary_server_1"
      - "consul_secondary_server_2"
      - "consul_server_0"
      - "consul_server_1"
      - "consul_server_2"
    networks:
      consul:
        ipv4_address: 10.5.1.6
    labels: 
      type: "client"
      application: "backend"
      location: secondary

  product-api-secondary:
    image: 'product-api'
    container_name: product-api-secondary
    command: ["./bin/install.sh"]
    volumes:
      - type: bind
        source: ./conf_secondary.json
        target: /conf.json
      - "./consul_config/product_api_config_secondary.hcl:/config/product_api_config.hcl"
      - "./client_config/svc_product_api_secondary.hcl:/config/svc_product_api.hcl"
      - "./resolvers_config/product-api.hcl:/tmp/product-api.hcl"
      - "./install.sh:/bin/install.sh"
      - ./certificates/:/consul/config/certs/
      - ./intentions/product-api.hcl:/tmp/intention.hcl
    links:
      - 'product-db-secondary:product-db-secondary'
    environment:
      - SERVICE=product-api
      - SECONDARY=true
      - CONSUL_HTTP_ADDR=http://127.0.0.1:8500
      - CONSUL_HTTP_TOKEN=20d16fb2-9bd6-d238-bfdc-1fab80177667
    networks:
      consul:
        ipv4_address: 10.5.1.7
    depends_on:
      - "product-db-secondary"
      - "consul_secondary_server_0"
      - "consul_secondary_server_1"
      - "consul_secondary_server_2"
      - "consul_server_0"
      - "consul_server_1"
      - "consul_server_2"
    labels: 
      type: "client"
      application: "backend"
      location: secondary

  product-db-secondary:
    image: product-db
    container_name: product-db-secondary
    command: ["./bin/install.sh"]
    volumes:
      - "./consul_config/product_api_db_config_secondary.hcl:/config/product_api_db_config.hcl"
      - "./client_config/svc_db_secondary.hcl:/tmp/svc_db.hcl"
      - "./install.sh:/bin/install.sh"
      - "./resolvers_config/product-db.hcl:/tmp/product-db.hcl"
      - ./certificates/:/consul/config/certs/
      - ./intentions/product-db.hcl:/tmp/intention.hcl  
    environment:
      - POSTGRES_DB=products
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=postgres
      - SERVICE=product-db
      - SECONDARY=true
      - CONSUL_HTTP_ADDR=http://127.0.0.1:8500
      - CONSUL_HTTP_TOKEN=20d16fb2-9bd6-d238-bfdc-1fab80177667
    depends_on:
      - "consul_secondary_server_0"
      - "consul_secondary_server_1"
      - "consul_secondary_server_2"
      - "consul_server_0"
      - "consul_server_1"
      - "consul_server_2"
    networks:
      consul:
        ipv4_address: 10.5.1.8
    labels: 
      type: "client"
      application: "backend"
      location: secondary

  payments-secondary:
    image: 'payments'
    container_name: payments-secondary
    command: ["./bin/install.sh"]
    volumes:
      - "./consul_config/payment_config_secondary.hcl:/config/payment_config.hcl"
      - "./client_config/svc_payments_secondary.hcl:/tmp/svc_payments.hcl"
      - "./resolvers_config/payments.hcl:/tmp/payments.hcl"
      - ./certificates/:/consul/config/certs/
      - "./install.sh:/bin/install.sh"
      - ./intentions/payments.hcl:/tmp/intention.hcl
    environment:
      - SERVICE=payments
      - SECONDARY=true
      - CONSUL_HTTP_ADDR=http://127.0.0.1:8500
      - CONSUL_HTTP_TOKEN=20d16fb2-9bd6-d238-bfdc-1fab80177667
    depends_on:
      - "consul_secondary_server_0"
      - "consul_secondary_server_1"
      - "consul_secondary_server_2"
      - "consul_server_0"
      - "consul_server_1"
      - "consul_server_2"
    networks:
      consul:
        ipv4_address: 10.5.1.9
    labels:
      type: "client"
      application: "backend"
      location: secondary

networks:
  consul:
    driver: bridge
    ipam:
      config:
      - subnet: 10.5.0.0/16

